{% extends "layout.html" %}
{% block content %}
<main>

    <ul class="page-nav">
        <li>
            <a class="btn btn-outline-success" href="{{ url_for('cliente_new') }}">Cadastro</a>
        </li>
    </ul>

    <h2>Lista clientes</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CEP</th>
                <th>CPF</th>
                <th>Cadastro</th>
                <th class="actions">⌘</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>
                    <a title="editar" href="#">
                        {{cliente.nome}}
                    </a>
                </td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.cep}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.data_cadastro}}</td>
                <td class="actions">
                    <a title="editar" class="btn btn-warning" href="#">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a title="deletar" class="btn btn-danger" href="#">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}